.skeleton {
    
    animation: skeleton-loading 1s linear   alternate;
  }
  .skeleton2 {
    
    animation: skeleton-loading2 1s linear  alternate;
  }
  
  
  .skeleton-text {
   
    margin-bottom: .10rem;
    border-radius: .125rem;
  }
 
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }@keyframes skeleton-loading2 {
    0% {
      background-color: hsl(214, 52%, 28%);
    }
  
    100% {
      background-color: hsl(214, 52%, 23%);
    }
  }