*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.div1 h2{
    font-size: 20px;
    color: #19304f;
}
h3{
    color: #19304f;
}
p{
    font-size: 16px;
}
body{
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{

    padding: 29px;
    background-color: white;
    height: 95vh;
    width: 40%;
    
}
.nome{
    display: flex;
    align-items: center;
}
.subnome{
    padding: 15px;
}
.nome img{
    height: 100px;
    width: 90px;
    border-radius: 50%;
    
}
.setores{
    padding-top: 20px;
}
.setores p{
    padding-top: 5px;
    color: black;
}
.setores a{
    text-decoration: none;
    color: hsl(214, 52%, 20%) ;

}
.setores ul{
    padding-left: 15px;
}
.setores li{
    color: hsl(214, 52%, 20%);
}
.subtitulo{
    opacity: 0.75;
    font-size: 13px;
    margin-left: 15px;
}
.div2{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 95vh;
    background-color: #19304f;
    color: white;
}
.contato{
    padding: 20px;
    width: 86%;
}
.contato h2{
    margin-bottom: 10px;
}

#email{
    font-size: 15px;

}
.cont{
    margin-left: 2px;
    width: 15px;
}
.links{
    margin-left: 7px;
    margin-top: 20px;
    width: 25px;
}
.links:hover{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}

.conhecimentos{
    width: 85%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
}
.conhecimentos h2{
    margin-bottom: 10px;;
}
.conhecimentos p{       
    padding-top: 5px;
    padding-bottom: 2px;
}
.conhecimentos p:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
.range{
    
    width: 100%;
    height: 2px;
    background-color: white;
}
